<a href="https://colab.research.google.com/github/Marcos021108/PA/blob/main/C%C3%B3pia_de_Exercicio_LISTAS_07_08_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercícios utilizando Listas Python**

## 1. Soma dos Elementos da Lista
Dada uma lista de números, calcule a soma de todos os elementos.

In [ ]:
lista = [1, 2, 3, 4, 5]
soma = sum(lista)
print(soma)

15

## 2. Produto dos elementos da lista
Dada uma lista de números, calcule o produto de todos os elementos.

In [ ]:
lista2 = [1, 2, 3, 4, 5]
produto = 1
for numero in lista2:
    produto *= numero
print(produto)

120

## 3. Encontre o menor elemento
Dada uma lista de números, encontre o menor elemento.

In [ ]:
lista3 = [1, 2, 3, 4, 5]
menor = min(lista3)
print(menor)

1

## 4. Encontre o maior elemento
Dada uma lista de números, encontre o maior elemento.

In [ ]:
lista4 = [1, 2, 3, 4, 5]
maior = max(lista4)
print(maior)

5

## 5. Contar Ocorrências de um Elemento
Dada uma lista de números e um número alvo, conte quantas vezes o alvo aparece na lista.

In [ ]:
lista5 = [1, 2, 3, 4, 3, 2, 1]
alvo = 2
ocorrencias = lista5.count(alvo)
print(ocorrencias)

2

## 6. Remover duplicatas
Dada uma lista de números, crie uma nova lista sem elementos duplicados.

In [ ]:
lista6 = [1, 2, 2, 3, 4, 4, 5]
sem_duplicatas = list(set(lista6))
print(sem_duplicatas)

[1, 2, 3, 4, 5]

## 7. Inverter uma lista
Dada uma lista de números, inverta a ordem dos elementos.

In [ ]:
lista6 = [1, 2, 3, 4, 5]
lista6.reverse()
print(lista6)

[5, 4, 3, 2, 1]

## 8. Intercalar Duas Listas
Dadas duas listas de números, crie uma nova lista intercalando os elementos das duas listas.

In [ ]:
lista81 = [1, 3, 5]
lista82 = [2, 4, 6]

lista83 = []
for i in range(min(len(lista81), len(lista82))):
    lista83.append(lista81[i])
    lista83.append(lista82[i])
lista83

[1, 2, 3, 4, 5, 6]

## 9. Somar Elementos Correspondentes de Duas Listas
Dadas duas listas de números de mesmo tamanho, crie uma nova lista com a soma dos elementos correspondentes.

In [ ]:
lista91 = [1, 2, 3]
lista92 = [4, 5, 6]

lista93 = []
for i in range(min(len(lista91), len(lista92))):
    lista93.append(lista91[i] + lista92[i])
lista93

[5, 7, 9]

## 10. Mover Zeros para o Fim
Dada uma lista de números, mova todos os zeros para o final da lista.

In [ ]:
lista10 = [0, 1, 0, 3, 12]
lista10.sort(key=lambda x: x == 0)
print(lista10)

[1, 3, 12, 0, 0]

# **Exercícios**
##Exercício 1: Manipulação de Listas

- Defina uma lista com 5 nomes de cidades.
- Adicione uma nova cidade ao final da lista.
- Remova a segunda cidade da lista.
- Imprima a lista resultante.

In [ ]:
cidades = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre', 'Salvador']

cidades.append('Paraná')
cidades.remove('Rio de Janeiro')

print(cidades)

##Exercício 2: Operações com Tuplas

- Defina uma tupla com 4 cores.
- Crie uma nova tupla que seja a concatenação da tupla original com outra contendo mais 2 cores.
- Imprima a nova tupla.

In [ ]:
cores = ('vermelho', 'azul', 'verde', 'preto')

novas_cores = cores + ('branco', 'laranja')

print(novas_cores)

##Exercício 3: Dicionários Simples

Crie um dicionário para representar um aluno, contendo "nome", "idade" e "curso".
- Atualize a idade do aluno.
- Adicione uma nova chave "nota" com um valor.
- Imprima o dicionário atualizado

In [ ]:
Aluno = {'nome': 'Josislande', 'idade': 100, 'curso': 'karem'}

Aluno['idade'] = 20
Aluno['nota'] = 10

print(Aluno)

##Exercício 4: Listas e Dicionários

- Crie uma lista de dicionários, onde cada dicionário representa um produto com as chaves "nome" e "preço".
- Adicione um novo produto à lista.
- Atualize o preço do primeiro produto na lista.
- Imprima a lista resultante.

In [ ]:
produtos = [{'nome': 'bananão grosso', 'preço': 20}, {'nome': 'uvinha totosa', 'preço': 10.48}]

produtos.append({'nome': 'contra o filé', 'preço': 15.00})

produtos[0]['preço'] = 25.50

print(produtos)

##Exercício 5: Analisando uma Lista de Tuplas

- Crie uma lista de tuplas, onde cada tupla contém um par (nome, idade).
- Encontre e imprima o nome da pessoa mais velha.
- Encontre e imprima a idade média das pessoas.

In [ ]:
pessoas = [('João',30), ('Maria',25), ('Pedro',35)]

mais_velho = max(pessoas, key=lambda x: x[1])

idade_media = sum(idade for _, idade in pessoas) / len(pessoas)

print("Pessoa mais velha:", mais_velho[0])
print("Idade média das pessoas:", idade_media)